<h1>hello</h1>
<p class="weather">weather</p>

<script>
    
// $(function() {
  
//   function getweather() {
    
    
//     var url = 'http://weather.livedoor.com/forecast/webservice/json/v1?city=130010';
//     $.getJSON(url, function(jsonData) {
      
      
//       var telop = jsonData.forecasts[0].telop;
//       $('.weather').text(jsonData.forecasts[0].telop);
      
      
      
//     });
    
//   }
  
//   getweather();
  
// });

</script>